.header {
    width: 100%;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--beige-color);
    padding: 17px 0;
}
.navigation__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 33px;
}
.header__navigation {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 54px;
}
.navigation__link {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
}
.main-link {
    display: inline-block;
    border-radius: 4px ;
    padding: 13px 46px;
    border: none;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: #241D1C;
    background-color: var(--light-color);
    text-decoration: none;
    cursor: pointer;
}
.main-link:hover:not(:disabled) {
    background-color: #EFE7BE ;
}
.main-link:focus-visible {
    background-color: var(--light-color) ;
    outline: 1px solid #FFFFFF ;
}
.main-link:disabled {
    opacity: 0.4;
}
@media (max-width:768px) {
    .header__navigation {
        display: none;
    }
}
@media (max-width:560px) {
    .main-link {
        padding: 10px 24px;
        font-size: 12px;
    }
}